{% load i18n staticfiles %}
{# extrahead #}
{% block extrahead %}
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,300,100,900' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
{% endblock extrahead %}
{% block extrastyle %}

    <style>
        h1 {
            margin: 20px 5px 10px;
        }

        .fwd-container {
            color: #ffffff;
            font-family: 'Lato', sans-serif;
            position: relative;
            background-color: #335363;
{#            background-image: url('http://static.fwd.hr/fwd/admin/back-dark.png');#}
            background-repeat: repeat;
            padding: 10px;
        }

        .fwd-logo {
            color: #fff;
            display: inline-block;
            font-family: 'Arial', sans-serif;
            font-size: 4em;
            padding: 0;
            margin: 20px 0;
        }

        .fwd-webstudio {
            color: #fff;
            display: inline-block;
            font-weight: 400;
        }

        .fwd-supportlinkbutton {
            height: 65px;
            width: 70px;
            padding: 2px;
            position: absolute;
            top: -5px;
            right: 10%;
            text-align: center;
            cursor: pointer;
            background-color: #417690;
{#            background-image: url('http://static.fwd.hr/fwd/admin/background-contact.png');#}
            background-repeat: repeat;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 1.1em;
            border-bottom-left-radius: 1.1em;
            -webkit-box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5), 2px 2px 2px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5), 2px 2px 2px rgba(0, 0, 0, 0.5);
            box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5), 2px 2px 2px rgba(0, 0, 0, 0.5);
            transition: 400ms;
            z-index: 20;
        }

        .fwd-supportlink {
            margin-top: 10px;
            font-family: 'Lato', sans-serif;
            color: #333;
            font-size: 1.2em;
            font-weight: 700;
            transition: 200ms;
        }

        .fwd-support-icon {
            height: 20px;
            width: 20px;
            margin: auto;
            background-position: center center;
            background-image: url('http://static.fwd.hr/fwd/admin/support.png');
            background-repeat: no-repeat;
            background-size: contain;
            transform: rotate(180deg);
            transition: 200ms;
        }

        .fwd-support-icon-active {
            transform: rotate(0deg);
        }

        .fwd-supportlinkbutton:hover {
            transform: scale(1.1);
            transform-origin: top center;
        }

        .fwd-support-body {
            display: none;
            background: #417690;
            position: relative;
            text-align: center;
            padding: 20px;
{#            background-image: url('http://static.fwd.hr/fwd/admin/background-contact.png');#}
            background-repeat: repeat;
            -webkit-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.9);
            -moz-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.9);
            box-shadow: 0 3px 2px rgba(0, 0, 0, 0.9);
            z-index: 10;
        }

        .fwd-hsupport {
            display: inline-block;
            color: #ffffff;
            margin-top: 5px;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            font-size: 1.5em;
        }

        .fwd-icon-block {
            padding: 5px 15px;
        }

        .fwd-contact {
            padding: 10px;
        }

        @media (max-width: 767px) {
            .fwd-contact {
                text-align: left;
            }
        }

        .fwd-time {
            margin-top: 10px;
        }

        .fwd-phonesize {
            font-size: 1.2em;
        }

        .fwd-mailtext {
            font-size: 1em;
        }

        .fwd-mailtext:hover {
            text-decoration: underline;
        }

        .fwd-phonetext {
            font-size: 1em;
        }

        .fwd-phonetext:hover {
            text-decoration: underline;
        }

        .fwd-phone {
            height: 35px;
            width: 35px;
            vertical-align: middle;
            margin-right: 10px;
            display: inline-block;
            background-image: url('http://static.fwd.hr/fwd/admin/phone.png');
            background-repeat: no-repeat;
            background-size: contain;
            border-radius: 50%;
            -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        }

        .fwd-mail {
            height: 35px;
            width: 35px;
            vertical-align: middle;
            margin-right: 10px;
            display: inline-block;
            background-image: url('http://static.fwd.hr/fwd/admin/mail.png');
            background-repeat: no-repeat;
            background-size: contain;
            border-radius: 50%;
            -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        }

        .fwd-social {
            display: inline-block;
            padding: 10px;
        }

        .fwd-social img {
            height: 40px;
            width: 40px;
            margin-top: 5px;
            margin-right: 5px;
        }

        .fwd-social a img:hover {
            transform: scale(1.1);
            transform-origin: center;
        }

        #header {
{#            display: none;#}
            height: auto;
        }
        .cms-admin-sideframe {
            margin-top: 100px;
        }
    </style>
    <script>
        (function (window, document, $) {

            $(document).ready(function () {
                var $supportBody = $('#fwd-support-body');
                var $support = $('#support');

                $support.click(function () {
                    $supportBody.slideToggle(300);
                    $support.find('.fwd-support-icon').toggleClass('fwd-support-icon-active');
                })
            });

        })(window, document, jQuery);
    </script>

{% endblock extrastyle %}
<div id="fwd-support-body" class="fwd-support-body">
    <h2 class="fwd-hsupport fwd-time">{% trans 'Monday' %} - {% trans 'Friday' %} &nbsp;&nbsp; 9-18h
        &nbsp;&nbsp;CET</h2>

    <div class="fwd-contact">
        <h2 class="fwd-hsupport fwd-phonesize fwd-icon-block">
            <icon class="fwd-phone"></icon>
            <a href="tel:0038552111222"><span class="fwd-hsupport fwd-phonetext"> 00385 98 407 010</span></a></h2>
        <h2 class="fwd-hsupport fwd-icon-block">
            <icon class="fwd-mail"></icon>
            <a href="mailto:support@fwd.hr?subject=Support:%20upit">
                <span class="fwd-hsupport fwd-mailtext">support@fwd.hr</span>
            </a></h2>
    </div>
    <div class="fwd-social">
        <a href="http://www.facebook.hr/fwdhr"><img src="http://static.fwd.hr/fwd/admin/facebook.png"
                                                    alt="facebook fwd"/></a>
        <a href="http://www.linkedin.com/company/fwd-hr"><img src="http://static.fwd.hr/fwd/admin/twitter.png"
                                                              alt="twitter fwd"/></a>
        <a href="http://twitter.com/fwdhr"><img src="http://static.fwd.hr/fwd/admin/linkedin.png"
                                                alt="linkedin fwd"/></a>
    </div>
</div>
<div class="fwd-container">
    <h1 class="fwd-logo">FWD</h1>

    <h1 class="fwd-webstudio">web studio</h1>

    <div id="support" class="fwd-supportlinkbutton">
        <p class="fwd-supportlink"><span style="color: #fff;">Support</span></p>

        <div class="fwd-support-icon"></div>
    </div>

</div>

