//----------------------------------*\
// Dependencies
//----------------------------------*/
// Styles
@import "./node_modules/bootstrap/dist/css/bootstrap.min";
@import "./node_modules/owl-carousel-2/assets/owl.carousel.min";

// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,900&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Cantata+One&subset=latin,latin-ext);


// Fonts mixins
@mixin font-main(){
  font-family: 'Raleway', sans-serif;
}

// Fonts mixins
@mixin font-serif(){
  font-family: 'Cantata One', serif;
}

// Breakpoints
@mixin mobile {
  @media(max-width: 768px){
    @content;
  }
}


//----------------------------------*\
// Variables
//----------------------------------*/
$bg-white-transparent: rgba(255, 255, 255, 0.8);
$bg-green-transparent: rgba(0, 168, 80, 0.8);
$bg-gray: #f6f2f2;

$text-color-accent: #d0021b; /*red*/
$text-color-accent2: #027ed0; /*blue*/


//----------------------------------*\
// Modules
//----------------------------------*/


//----------------------------------*\
// Pages
//----------------------------------*/

